In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import neighbors, metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
import seaborn as sns

In [2]:
data = pd.read_csv('train.csv')
data.head(1)

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.0,0,53,0,0,32,1000,955,0

In [3]:
X = data.drop(['fake','nums/length username','fullname words','nums/length fullname','external URL'],axis=1)
y = data['fake']
# X.head(1)
# y.info()/
# print(X,y)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X,y)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 432 entries, 444 to 515
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   profile pic         432 non-null    int64
 1   name==username      432 non-null    int64
 2   description length  432 non-null    int64
 3   private             432 non-null    int64
 4   #posts              432 non-null    int64
 5   #followers          432 non-null    int64
 6   #follows            432 non-null    int64
dtypes: int64(7)
memory usage: 27.0 KB

In [5]:
knn = neighbors.KNeighborsClassifier(n_neighbors=25,weights='uniform')
knn.fit(X_train,y_train)
predictions=knn.predict(X_test)
predictions

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0], dtype=int64)

In [6]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.93      0.92      0.93        75
           1       0.91      0.93      0.92        69

    accuracy                           0.92       144
   macro avg       0.92      0.92      0.92       144
weighted avg       0.92      0.92      0.92       144

In [7]:
accuracy = metrics.accuracy_score(y_test,predictions)
print("Accuracy : ",round(accuracy*100),'%')
X_train.info()

Accuracy :  92 %
<class 'pandas.core.frame.DataFrame'>
Index: 432 entries, 444 to 515
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   profile pic         432 non-null    int64
 1   name==username      432 non-null    int64
 2   description length  432 non-null    int64
 3   private             432 non-null    int64
 4   #posts              432 non-null    int64
 5   #followers          432 non-null    int64
 6   #follows            432 non-null    int64
dtypes: int64(7)
memory usage: 27.0 KB

In [8]:
input_data = (1,1,20,1,0,32,45)
in_data = np.array(input_data)
in_data_reshaped = in_data.reshape(1,-1)
in_data_reshaped
# in_data = input_data.split(",")
# in_data = [int(i) for i in in_data]
# type(in_data[1])

array([[ 1,  1, 20,  1,  0, 32, 45]])

In [9]:
sample = knn.predict(in_data_reshaped)
print(sample)

[1]

C:\Users\anuku\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [10]:
test = pd.read_csv('test.csv')
test = test.drop(['nums/length username','fullname words','nums/length fullname','external URL'],axis=1)
test.tail(5)

,profile pic,name==username,description length,private,#posts,#followers,#follows,fake
115,1,0,0,0,13,114,811,1
116,1,0,0,0,4,150,164,1
117,1,0,0,0,3,833,3572,1
118,0,0,0,0,1,219,1695,1
119,1,0,0,0,3,39,68,1

In [28]:
data.shape
data.isnull().sum()
# fig , ax = plt.subplots(figsize=(8,8))
# sns.displot(data.fake)
count = 0
for i in data['fake']:
    if i==0:
        count=count+1
    else:
        count-=1
print(count)

0